<!DOCTYPE html>
<html ng-app="rentFlicks">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
<link href="css/catalog.css" rel="stylesheet">
<script src="scripts/jquery.min.js" type="text/javascript"></script>
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/angular.min.js"></script>
 <script src="scripts/angular-animate.js"></script>
<script src="scripts/ui-bootstrap-0.9.0.min.js"></script>

<script src="scripts/app.js"></script>
<title>Rent Flicks</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Rent <span
					class="glyphicon glyphicon-share" aria-hidden="true"></span> Flicks
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul ng-init="tab=1" class="nav navbar-nav nav-tabs">
					<li ng-class="{active: tab === 1}"><a href ng-click="tab = 1"><span
							class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
					<li ng-class="{active: tab === 2}"><a href ng-click="tab = 2"><span
							class="glyphicon glyphicon-film" aria-hidden="true"></span> My
							Movies</a></li>
					<li ng-class="{active: tab === 3}"><a href ng-click="tab = 3"><span
							class="glyphicon glyphicon-plus" aria-hidden="true"></span> My
							Requests</a></li>
					<li ng-class="{active: tab === 4}"><a href ng-click="tab = 4"><span
							class="glyphicon glyphicon-globe" aria-hidden="true"></span>
							Forum</a></li>
					<li ng-class="{active: tab === 5}"><a href ng-click="tab = 5"><span
							class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
							About</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right nav-tabs">
					<li class="dropdown"><a class="dropdown-toggle"
						id="signUpDropdown" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true"> Sign Up <span class="caret"></span>
					</a>
						<ul class="dropdown-menu " aria-labelledby="signUpDropdown">
							<form class="form" id="formSignUp"
								style="width: 200px; padding: 10px;">
								<input class="form-control logInForm" id="userName" type="text"
									placeholder="User Name"> <input
									class="form-control logInForm" id="emailSignUp" type="text"
									placeholder="Email"> <input
									class="form-control  logInForm" id="passwordSignUp"
									type="password" placeholder="Password"> <input
									class="form-control logInForm" id="retypePassword"
									type="password" placeholder="Re-type Password">
								<button class="btn btn-primary logIn" id="btnSignUp" class="btn">Sign
									up</button>
							</form>
						</ul></li>
					<li class="dropdown"><a class="dropdown-toggle"
						id="signInDropdown" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true"> Sign In <span class="caret"></span>
					</a>
						<ul class="dropdown-menu " aria-labelledby="signInDropdown">
							<form class="form" id="formLogin" style="padding: 10px;">
								<input class="form-control logInForm" id="email" type="text"
									placeholder="Email"> <input
									class="form-control logInForm" id="password" type="password"
									placeholder="Password">
								<button class="btn btn-primary logIn" id="btnLogin" class="btn">Sign
									in</button>
							</form>
						</ul></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container" style="z-index: 2;">
		<div ng-controller="CatalogController as catalog">
			<div ng-show="tab === 1" class="jumbotron">
				<div ng-include="'HTMLPartialScreens/catalog.html'"></div>
			</div>
			<div class="jumbotron" ng-show="tab ===2">2</div>
			<div class="jumbotron" ng-show="tab ===3">3</div>
			<div class="jumbotron" ng-show="tab ===4">4</div>
			<div class="jumbotron" ng-show="tab ===5">5</div>
		</div>
	</div>
	<div id="additionalWrapper" style="height: 40px;"></div>
	<div class="navbar-default footer">
		<div class="container">
			<span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
			Rent <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
			Flicks 2015-16
		</div>
	</div>

</body>
</html>