<div class="jumbotron">
	<div class="row" style="margin-left:5px;">
		<button class="btn btn-success" data-toggle="modal"
			data-target="#addMovieModal" role="button">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add
			Movie
		</button>
		<div class="modal fade" id="addMovieModal" tabindex="-1" role="dialog"
			aria-labelledby="executionOptionLabel" aria-hidden="true">
			<div class="modal-dialog">

				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h3 class="modal-title">Add Movie</h3>
					</div>
					<div class="modal-body">
						<div class="row" style="margin-left: 5px; margin-right: 5px;">
								<input type="text" ng-model="searchTitle" placeholder="Enter movie title..">
								<button class="btn btn-primary" style="margin-left:5px;" ng-click="search(searchTitle)">Search</button>
						</div>
						<div ng-show="searchSuccess" style="margin-left:10px; margin-right:10px;margin-top:5px;">
							<div class="row" style="width: 100%; text-align: center;">
									<div style="display: inline-block;">
										<img ng-src="{{movieImage}}" style="margin-bottom: 5px;">
									</div>
							</div>
							<div  class="row" style="width: 100%; text-align: center;">
									<div style="display: inline-block;">
										<h4><b>{{movieTitle}}</b>&nbsp;({{movieYear}})</h4>
									</div>
							</div>
							<div class="row" >
									<div style="display: inline-block; float:left">
										<h4>
											<b> Director: </b>{{movieDirector}}
										</h4>
									</div>
									<div style="display:inline-block; float:right;">
										<h4>
											<b> Rating: </b>{{movieRating}}
										</h4>
									</div>
							</div>
							<div class="row">
								<h4><b>Actors:</b>{{movieActor}}</h4>
							</div>
							<div class="row" >
								<h4>Plot:</h4>
							</div>
							<div class="row"  style="text-align: justify;">
								{{moviePlot}}
							</div>
							<div class="row" style="text-align:center;">
								<button class="btn btn-success" ng-click="addMovie()">Add</button>
								<button id="cancel{{$index}}" style="margin-left:5px;" class="btn " data-dismiss="modal">Cancel</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-md-3" ng-repeat="video in videos" style="margin-top:5px;">
			<div class="thumbnail">
				<img ng-src="{{video.image}}" style="width: 100%; height: 250px;">
				<div class="caption">
					<h4>{{video.name}}</h4>
					<div class="movieButton">
						<button class="btn btn-info" role="button" data-toggle="modal"
						data-target="#requestsModal{{$index}}">Show Requests</button>
						<!-- button class="btn btn-danger" ng-click="deleteMovie()" role="button">Delete</button-->
					</div>
					
					<div class="modal fade" id="requestsModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="executionOptionLabel"
					aria-hidden="true">
						<div class="modal-dialog">

							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
									</button>
									<h3 class="modal-title">{{video.name}}</h3>
								</div>
								<div class="modal-body">
									<div class="row" style="width: 100%; margin-bottom:5px;" ng-repeat="request in video.requests">
										<div class="row" style=" margin-left:5px; margin-right:5px;">
											<div class="col-md-4">
												{{request.borrower.firstName}}&nbsp;{{request.borrower.lastName}}
											</div>
											<div class="col-md-5">
												<div style="margin-left:3px;"><input type="text" ng-model="request.message" placeholder="Enter your reply.."></div>
											</div>
											<div class="col-md-3">
												<button class="btn btn-success" ng-click="accept(video, request, request.message)"><span class="glyphicon glyphicon-ok"></span>
												<button class="btn btn-warning" style="margin-left:2px;" ng-click="deny(video, request, request.message)"><span class="glyphicon glyphicon-remove"></span></button>
											</div>
										</div>
									</div>	
								</div>
								
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>