<div class="input-group">
	<span class="input-group-btn">
		<button class="btn btn-default" type="button">
			<span class="glyphicon glyphicon-search" aria-hidden="true">
		</button>
		<button type="button" class="btn btn-default dropdown-toggle"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span-->
		</button>
		<ul class="dropdown-menu">
			<li class="searchDropDown"><input type="radio"
				name="searchCriteria" ng-model="searchFilter" value="name">&nbspTitle</li>
			<li class="searchDropDown"><input type="radio"
				name="searchCriteria" ng-model="searchFilter" value="plot">&nbspPlot</li>
			<li class="searchDropDown"><input type="radio"
				name="searchCriteria" ng-model="searchFilter" value="actor">&nbspActor</li>
			<li class="searchDropDown"><input type="radio"
				name="searchCriteria" ng-model="searchFilter" value="director">&nbspDirector</li>
			<li class="searchDropDown"><input type="radio"
				name="searchCriteria" ng-model="searchFilter" value="year">&nbspYear</li>
			<li class="searchDropDown"><input type="radio"
				name="searchCriteria" ng-model="searchFilter" value="$">&nbspAll</li-->
		</ul>
	</span> <input type="text" class="form-control"
		ng-model="searchText[searchFilter]"
		placeholder="Search for movie based on 'Title' or 'Actor' or 'Director' or 'Year' or 'Plot.....'">
</div>
<div ng-include="'HTMLPartialScreens/catalogModal.html'"></div>


